*.ipynb
*tests
YOLO/model_files/*.h5
YOLO/model_files/*.weights
YOLO/__pycache__
2_Training/src/keras_yolo3/*.h5
2_Training/src/keras_yolo3/*weights
old_scripts/keras_yolo3/yolov3.weights
Data/Model_Weights/*
./__pycache__/*
Data/Source_Images/Test_Images/*jpg
Data/Source_Images/Test_Image_Detection_Results/*jpg
Data/Source_Images/Training_Images/*jpg
Data/Source_Images/Training_Images/*json
Data/Source_Images/Training_Images/*nii
data/
TrainYourOwnYOLO/Data/Model_Weights/*
TrainYourOwnYOLO/Data/Source_Images/Test_Images/*jpg
TrainYourOwnYOLO/Data/Source_Images/Test_Image_Detection_Results/*jpg
TrainYourOwnYOLO/Data/Source_Images/Training_Images/*jpg
TrainYourOwnYOLO/Data/Source_Images/Training_Images/*json
TrainYourOwnYOLO/Data/Source_Images/Training_Images/vott*